* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   height: 100%;
   --p-color: #fff354;
   --s-color: #54ff65;
   --t-color: #ff42b4;
   --v-color: #6a82ff;
   --w-color: #08deb7;
   --font: 'Shadows Into Light', cursive;
   font-family: var(--font);
}

body {
   text-align: center;
   font-size: 16px;
   background-image: url("../images/rainbow.svg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
}

h1 {
   font-size: 4rem;
   color: var(--p-color);
   margin-bottom: 10px;
}

h2 {
   font-size: 3.6rem;
   margin-bottom: 15px;
}

#score-container {
   position: absolute;
   left: 0;
   bottom: 0;
   font-size: 2rem;
   color: var(--s-color);
}

#wrapper {
   width: 707px;
   height: 150px;
   transform: translateY(35px);
   margin: 0 auto;
   position: relative;
}

#heart-container {
   position: absolute;
   bottom: 0;
   right: 0;
   color: #ff005c;
}

#key-container {
   position: absolute;
   bottom: 0;
   right: 130px;
   color: #fbff20;
}

i {
   font-size: 2rem;
   margin-left: 5px;
}

/* MODALS FOR GAMEOVER, GAMECOMPLETE AND INTRODUCTION */

.modal-container {
   width: 90%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#gameOver, #gameComplete, #startModal {
   height: 707px;
   width: 707px;
   background-color: white;
   border-radius: 10px;
   z-index: 5;
   position: relative;
   display: none;
}

#startModal {
   color: var(--w-color);
}

#gameOver {
   color: var(--t-color);
}

#gameComplete {
   color: var(--v-color);
}

.small-text {
   font-size: 1.6rem;
}

#gameOver p {
   margin: 0 0 35px 0;
   font-size: 2rem;
   line-height: 3rem;
}

img {
   width: 120px;
   height: 120px;
}

#btn1, #btn2 {
   color: white;
   background-color: var(--t-color);
   padding: 15px 50px;
   border-radius: 10px;
   outline: none;
   border: none;
   font-family: var(--font);
   font-size: 1.4rem;
   box-shadow: 1px 1px 3px #d0c4d2;
}

#btn1 {
   margin-top: 30px;
   background-color: var(--w-color);
}

#btn1:active, #btn2:active {
   box-shadow: 0 0 0 #d0c4d2;
   transform: translate(1px, 1px);
}

#cross1, #cross2, #cross3 {
   position: absolute;
   top: 15px;
   right: 15px;
}

#cross1:active, #cross2:active, #cross3:active {
   transform: rotate(-45deg);
}

#btn1, #btn2, #cross1, #cross2, #cross3 {
   cursor: pointer;
}