* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
   --p-color: #fff354;
   --s-color: #54ff65;
   --t-color: #ff42b4;
   --v-color: #6a82ff;
   --w-color: #08deb7;
   --font: 'Shadows Into Light', cursive;

   font-family: var(--font);
}

body {
   height: 100%;

   text-align: center;

   background-image: url("../images/rainbow.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   font-size: 16px;
}

h1 {
   margin-bottom: 10px;

   color: var(--p-color);

   font-size: 4rem;
}

h2 {
   margin-bottom: 15px;

   font-size: 3.6rem;
}

#score-container {
   position: absolute;
   bottom: 0;
   left: 0;

   color: var(--s-color);

   font-size: 2rem;
}

#wrapper {
   position: relative;

   width: 707px;
   height: 150px;
   margin: 0 auto;

   -webkit-transform: translateY(35px);
   transform: translateY(35px);
}

#heart-container {
   position: absolute;
   right: 0;
   bottom: 0;

   color: #ff005c;
}

#key-container {
   position: absolute;
   right: 130px;
   bottom: 0;

   color: #fbff20;
}

i {
   margin-left: 5px;

   font-size: 2rem;
}

/* MODALS FOR GAMEOVER, GAMECOMPLETE AND INTRODUCTION */

.modal-container {
   position: absolute;
   top: 50%;
   left: 50%;

   width: 90%;

   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

#gameOver, #gameComplete, #startModal {
   position: relative;
   z-index: 5;

   display: none;

   width: 707px;
   height: 707px;

   border-radius: 10px;
   background-color: white;
}

#startModal {
   color: var(--w-color);
}

#gameOver {
   color: var(--t-color);
}

#gameComplete {
   color: var(--v-color);
}

.small-text {
   font-size: 1.6rem;
}

#gameOver p {
   margin: 0 0 35px 0;

   font-size: 2rem;
   line-height: 3rem;
}

img {
   width: 120px;
   height: 120px;
}

#btn1, #btn2 {
   padding: 15px 50px;

   color: white;
   border: none;
   border-radius: 10px;
   outline: none;
   background-color: var(--t-color);
   -webkit-box-shadow: 1px 1px 3px #d0c4d2;
   box-shadow: 1px 1px 3px #d0c4d2;

   font-family: var(--font);
   font-size: 1.4rem;
}

#btn1 {
   margin-top: 30px;

   background-color: var(--w-color);
}

#btn1:active, #btn2:active {
   -webkit-transform: translate(1px, 1px);
   transform: translate(1px, 1px);

   -webkit-box-shadow: 0 0 0 #d0c4d2;
   box-shadow: 0 0 0 #d0c4d2;
}

#cross1, #cross2, #cross3 {
   position: absolute;
   top: 15px;
   right: 15px;
}

#cross1:active, #cross2:active, #cross3:active {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

#btn1, #btn2, #cross1, #cross2, #cross3 {
   cursor: pointer;
}